.redButton{

	display:inline-block;
	text-align:center;
	
	font-size:1.4em;
	color:$white;
	font-weight:bold;
	background:url(../imgs/sprite.png) -3px -68px no-repeat;
	
	width:156px;
	height:34px;
	
	padding-top:9px;
	
	margin-top:15px;
	
	.arrow{
		display:inline-block;
		width:12px;
		height:10px;
		vertical-align:middle;
		background:url(../imgs/sprite.png) -126px -26px no-repeat;
	}
	
	cursor:pointer;
	
}