.carousel{
	min-height:450px;
	position:relative;
	
	.slides{
		position:relative;
		.slide{
		
			width:970px;
			height:450px;
			position:absolute;
			z-index:0;
			background:$white;
			
			&.previous{
				z-index:1;
			}
			
			&.current{
				z-index:2;
			}
		}
	
	}
	
	.control{
		position:absolute;
		bottom:-92px;
		left:82px;
		z-index:4;
		background:url("../imgs/bannerNavBg.gif") 0 5px $white repeat-x;
		li{
			border:5px solid $dtMediumGrey;
			border-left:none;
			border-right:none;
			width:200px;
			height:108px;
			*height:100px;
			float:left;
			cursor:pointer;
			outline:none;
			
			-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
			box-sizing: border-box;         /* Opera/IE 8+ */
			
			a{
				border-right:2px solid $dtUltraLightGrey;
				display:block;
				font-size:4.9em;
				line-height:1.25em;
				font-weight:bold;
				color:$dtUltraGrey;
				text-align:center;
				padding:18px 20px 18px 20px;
				outline:none;
			}	
			
			&.first{
				border-left:5px solid $dtMediumGrey;
				z-index:5;
				position:relative;
			}
				
			&.last{
				border-right:5px solid $dtMediumGrey;
				z-index:6;
				position:relative;
				a{
					border-right:none;
				}
			}
			
			&.active{
					border:5px solid $dtUltraGrey;
					position:relative;
			}	
			
			.arrow{
			
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $dtUltraGrey;
				
				display:block;
				position:absolute;
				top:-14px;
				left:87px;
			}
			
		}
		
	}
	
}