.carousel{
	min-height:450px;
	position:relative;
	
	.slides{
		position:relative;
		.slide{
		
			width:970px;
			height:450px;
			position:absolute;
			z-index:0;
			background:$white;
			
			&.previous{
				z-index:1;
			}
			
			&.current{
				z-index:2;
			}
		}
		
		
	
	}
	
	.control{
		position:absolute;
		bottom:-92px;
		left:82px;
		z-index:4;
		background:url("../imgs/bannerNavBg.gif") 0 0 repeat-x;
		border:5px solid $dtMediumGrey;
		li{
			width:200px;
			height:100px;
			float:left;
			cursor:pointer;
			border-right:2px solid $dtUltraLightGrey;
			a{
				display:block;
				font-size:3em;
				line-height:1.25em;
				font-weight:bold;
				color:$dtUltraGrey;
				text-align:center;
				padding:20px 20px 20px 20px;
			}			
			
		}
		
	}
	
}