.carousel{
	min-height:450px;
	position:relative;
	
	.slides{
		position:relative;
		.slide{
		
			width:970px;
			height:450px;
			position:absolute;
			z-index:0;
			background:$white;
			
			&.previous{
				z-index:1;
			}
			
			&.current{
				z-index:2;
			}
		}
	
	}
	
	.control{
		position:absolute;
		bottom:-92px;
		left:82px;
		z-index:4;
		background:url("../imgs/bannerNavBg.gif") 0 0 repeat-x;
		li{
			border:5px solid $dtMediumGrey;
			border-left:none;
			border-right:none;
			width:200px;
			height:100px;
			float:left;
			cursor:pointer;
			a{
				border-right:2px solid $dtUltraLightGrey;
				display:block;
				font-size:4.9em;
				line-height:1.25em;
				font-weight:bold;
				color:$dtUltraGrey;
				text-align:center;
				padding:19px 20px 19px 20px;
				
			}	
			
			&.first{
				border-left:5px solid $dtMediumGrey;
			}
				
			&.last{
				border-right:5px solid $dtMediumGrey;
			}
			
			&.active{
					border:5px solid $dtUltraGrey;
					position:relative;
			}	
			
			.arrow{
			
				width: 0; 
				height: 0; 
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid $dtUltraGrey;
				
				display:block;
				position:absolute;
				top:-15px;
				left:90px;
			}
			
		}
		
	}
	
}